/.BuilderDeltaConverter.java._trace
/.JdtQueuedBuildData.java._trace
/.UnconfirmedStructuralChangesDelta.java._trace
/BuilderDeltaConverter.java
/JdtQueuedBuildData.java
/UnconfirmedStructuralChangesDelta.java
