/.ExpressionBucket.java._trace
/.SynonymTypeBucket.java._trace
/.TypeBucket.java._trace
/.TypeReferenceBucket.java._trace
/ExpressionBucket.java
/SynonymTypeBucket.java
/TypeBucket.java
/TypeReferenceBucket.java
